.cover__title {
    margin: 270px 0 130px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        margin: 210px 0 70px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin: 160px 0 50px;
    }
}

@media screen and (max-width: 600px) {
    .cover__title {
        font-size: 32px;
        margin: 100px auto 10px;
    }
}