.photo-grid__item {
    width: calc((100% - 16px*3)/4);
    object-fit: cover;
    object-position: center;
    margin: 0 16px 16px 0;
}

@media screen and (min-width: 1025px) {
    .photo-grid__item {
        min-height: 190px;
    }
    
    .photo-grid__item:nth-of-type(4) {
        margin: 0 0 16px 0;
    }

    .photo-grid__item:nth-of-type(8) {
        margin: 0 0 16px 0;
    }

    .photo-grid__item:nth-of-type(9) {
        margin: 0 16px 0 0;
    }

    .photo-grid__item:nth-of-type(10) {
        margin: 0 16px 0 0;
    }

    .photo-grid__item:nth-of-type(11) {
        margin: 0 16px 0 0;
    }

    .photo-grid__item:nth-of-type(12) {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .photo-grid__item {
        width: calc((100% - 14px*2)/3);
        min-height: 200px;
        margin: 0 14px 14px 0;
    }

    .photo-grid__item:nth-of-type(3) {
        margin: 0 0 14px 0;
    }

    .photo-grid__item:nth-of-type(6) {
        margin: 0 0 14px 0;
    }

    .photo-grid__item:nth-of-type(9) {
        margin: 0 0 14px 0;
    }

    .photo-grid__item:nth-of-type(10) {
        margin: 0 14px 0 0;
    }

    .photo-grid__item:nth-of-type(11) {
        margin: 0 14px 0 0;
    }

    .photo-grid__item:nth-of-type(12) {
        margin: 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .photo-grid__item {
        width: calc((100% - 16px)/2);
        min-height: 234px;
        margin: 0 16px 16px 0;
    }

    .photo-grid__item:nth-of-type(2) {
        margin: 0 0 16px 0;
    }

    .photo-grid__item:nth-of-type(4) {
        margin: 0 0 16px 0;
    }

    .photo-grid__item:nth-of-type(6) {
        margin: 0 0 16px 0;
    }

    .photo-grid__item:nth-of-type(8) {
        margin: 0 0 16px 0;
    }

    .photo-grid__item:nth-of-type(10) {
        margin: 0 0 16px 0;
    }

    .photo-grid__item:nth-of-type(11) {
        margin: 0 16px 0 0;
    }

    .photo-grid__item:nth-of-type(12) {
        margin: 0;
    }
}


@media screen and (max-width: 425px) {
    .photo-grid__item {
        margin: 0 0 16px;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid__item {
        margin: 0 0 8px;
    }
}