.footer__links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .footer__links {
        max-width: 393px;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 375px) {
    .footer__links {
        max-width: 340px;
    }
}

@media screen and (max-width: 375px) {
    .footer__links {
        max-width: 289px;
    }
}