.body {
    background-color: #2A2C2F;
    margin: 0;
}

@media screen and (max-width: 425px) {
    .body {
        min-width: 425px;
    }
}

@media screen and (max-width: 375px) {
    .body {
        min-width: 375px;
    }
}

@media screen and (max-width: 320px) {
    .body {
        min-width: 320px;
    }
}